/* Paleta de colores:
    - #C4195D
    - #FF8484
    - #F3F0E7

*/

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
/*Titulos*/
header {
    background-color: #C4195D;
    color: white;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 40px;
    margin: 0.5em;
    margin-right: 150px;
}

h3 {
    margin-top: 50px;
    font-size: 20px;
    color: #C4195D;
}
::marker {
    color: transparent;
}

#chart01 svg, #chart02 svg, #chart03 svg {
    max-width: initial;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: transparent; 
}
img {
    height:50px;
    width: 50px;
}